# Don't insert personal file
path.txt
/docs/IlSemanticWeb-esercitazione.pdf
foaf.owl
##########################
# Ignore Node Modules
##########################
/node_modules

##########################
# Ignore Editor File
##########################
.vscode

##########################
# Ignore Compiler File
##########################
*.pyc

##########################
# Virtual environment
##########################
virtual_environment